@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lynstone';
  src: url('/fonts/Lynstone-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lynstone';
  src: url('/fonts/Lynstone-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-red: #D64B3C;
  --dark-gray: #333333;
  --light-gray: #F5F5F5;
  --link-blue: #0066CC;
}

.dark {
  --dark-gray: #FFFFFF;
  --light-gray: #1A1A1A;
  --link-blue: #66B2FF;
  color-scheme: dark;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--dark-gray);
}

.dark body {
  background-color: #121212;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lynstone', sans-serif;
}

/* Animación para los paneles de filtros */
.filter-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(-10px);
}

.filter-content.expanded {
  max-height: 600px; /* Aumentamos el valor para contenido más extenso */
  opacity: 1;
  transform: translateY(0);
}

/* Estilo específico para el selector de columnas visibles */
.columns-selector .filter-content.expanded {
  max-height: 800px; /* Mayor altura para el selector de columnas */
  overflow-y: auto; /* Añadir scroll vertical si el contenido excede la altura */
  scrollbar-width: thin; /* Barra de desplazamiento delgada para navegadores Firefox */
}

/* Estilo para la barra de desplazamiento en navegadores webkit (Chrome, Safari) */
.columns-selector .filter-content.expanded::-webkit-scrollbar {
  width: 6px;
}

.columns-selector .filter-content.expanded::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.columns-selector .filter-content.expanded::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.columns-selector .filter-content.expanded::-webkit-scrollbar-thumb:hover {
  background: #555;
} 